@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Шрифты */
h1 {
    color: #000;
    font-family: Lora;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    color: #000;
    font-family: Lora;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h3 {
    color: #EC5598;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.16px;
}

p {
    color: rgba(0, 0, 0, 0.80);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

/* Кнопка */
button {
    width: 240px;
    height: 60px;
    border-radius: 2px;
    border: 1.5px solid #FF427F;
    background: none;

    color: #FF427F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.08px;
    text-transform: uppercase;

    margin: 0 auto;
}

/* Декоративная линия */
.line {
    width: 121px;
    height: 2px;
    background: #EC5598;
}

.decor {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

/* Верх */
.heading {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin: 0 auto;
}

/* Отдельные карточки */
article {
    width: 300px;
    height: 145px;
    padding: 20px 15px;
    background-color: white;
    filter: drop-shadow(0px 15px 55px rgba(0, 0, 0, 0.08));
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: auto;
    margin-top: -102px;
}

.mini_line {
    width: 46px;
    height: 1.5px;
    background: #EC5598;
}

.learn_more {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 11px;
    margin-left: auto;
    align-items: center;
}

/* основная часть */
main {
    width: 80%;
    margin: 55px auto;
    display: flex;
    flex-direction: column;
    gap: 65px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 63px;
}

@media (max-width: 360px) {
    main {
        margin: 15px auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 50px;
    }

    article {
        margin-left: 0;
    }
}